.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
}

.clouds {
  width: 150px;
  height: auto;
}

.mirrored-image {
  transform: scaleX(-1);
}

input {
  border: none;
  outline: none;
  background-color: #d8e2dc;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}
