.main {
  display: flex;
  padding: 10px;
  gap: 10px;
}

input {
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 4px 4px 0 0;
}

input:focus {
  border-bottom: 2px solid #ae959d;
}

button {
  background-color: #9d8189;
  width: 70px;
  border: none;
  height: 30px;
  border-radius: 10px;
}
